{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='create_test.js') }}"></script>
<form method="post">
    <div id="test_name">Название теста: <input name="test_name" value="Новый тест"></div>
    <ol id="questions"></ol>
    <div class="bot-btn-test">
        <button class="btn-test" onclick="create_question()" type="button">Создать вопрос</button>
        <button class="btn-test" type="submit">Опубликовать</button>
    </div>
</form>
<div class="bottom-div"> .</div>
{% endblock %}