{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='jq.js') }}"></script>
<script src="{{ url_for('static', filename='create_test.js') }}"></script>
<form method="post">
    <div>Название теста: <input name="test_name" value="Новый тест"></div><br>
    <ol id="questions"></ol>
    <button type="button" onclick="create_question()">Создать вопрос</button>
    <button type="button" onclick="create_m_question()">Создать вопрос с несколькими правильными ответами</button>
    <div>
        <button type="submit">Опубликовать</button>
    </div>
</form>
{% endblock %}