{% extends "base.html" %}
{% block content %}
<h2>{{ test_name }}</h2>
<form method="post" name="q">
    {% for question in questions %}
    <div class="question">
        <h3>{{ question.text }}</h3>
        {% for answer in question.answers %}
            <input type="{% if question.multiple %}checkbox{% else %}radio{% endif %}" name="r_{{question.n}}">
            {{ answer }}
            <br>
        {% endfor %}
    </div>
    {% endfor %}
    <br>
    <button type="submit">Отправить</button>
</form>

{% endblock %}